<aside class="dashboard-sidebar">
  <div class="dashboard-sidebar-inner">
      <header class="dashboard-sidebar-header">
          <a href="./" class="logo d-flex">
            <img class="logo-dark" src="/assets/images/logo-dark.png" alt="Car Rental" />
            <img class="logo-light" src="/assets/images/logo-light.png" alt="Car Rental" />
          </a>
      </header>
      <div class="dashboard-sidebar-body">
          <ul class="dashboard-sidebar-links list-unstyled mb-0">
              <h6 class="dashboard-sidebar-links-title">Admin</h6>
              <li>
                <a id="home" href="./"" class=" dashboard-sidebar-link">
                  <i class="fa-regular fa-chart-bar"></i>
                  <span>Analytics</span>
                </a>
              </li>
              <li>
                <a id="cars" href="cars.html" class="dashboard-sidebar-link">
                  <i class="fa-solid fa-car-side"></i>
                  <span>Cars</span>
                </a>
              </li>
              <li>
                <a id="bookingPage" href="booking-cars.html" class="dashboard-sidebar-link">
                  <i class="fa-solid fa-car-on"></i>
                  <span>Booking Cars</span>
                </a>
              </li>
              <li>
                <a id="contacts" href="contacts.html" class="dashboard-sidebar-link">
                  <i class="fa-solid fa-inbox"></i>
                  <span>Messages</span>
                </a>
              </li>
              <li>
                <a id="settings" href="settings.html" class="dashboard-sidebar-link">
                  <i class="fa fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <div class="dashboard-sidebar-link logout-btn">
                  <i class="fa-solid fa-power-off"></i>
                  <span>Logout</span>
                </div>
              </li>
          </ul>
      </div>
  </div>
  <div class="dashboard-sidebar-overlay"></div>
</aside>