* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

.navbar {
    height: 60px;
    background-color: #2f3f5a;
    /* background-color: rgb(50, 115, 142); */
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    cursor: help;
}
.navbar div{
    padding-left: 20px;
    padding-right: 20px;
}
.user-info i{
    padding-left: 10px;
}

.dashboard-container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 14rem;
    background-color: #1e293b;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    color: #cbd5e1;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #364868;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #f8fafc;
}

.placeholder-box {
    height: auto;
    min-height: 300px;
    border: 2px solid #94a3b8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64748b;
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
}